#portfolio #filters {
  margin-bottom: 2em;
}

#portfolio #filters a {
  background-color: #2c3e50;
  color: #FFF;
  padding: 0.5em 1em;
  border-radius: 4px;
  width: 11em;
  display: inline-block;
  margin-right: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

#portfolio #filters a .fa {
  margin-right: 0.5em;
}

#portfolio #filters a:hover,
#portfolio #filters a:active,
#portfolio #filters a:link {
  background-color: #34495e;
  text-decoration: none;
}

#portfolio #filters a .fa-check-square-o {
  display: inline-block;
}

#portfolio #filters a .fa-square-o {
  display: none;
}

#portfolio #filters a.inactive {
  background-color: #7f8c8d;
}

#portfolio #filters a.inactive:hover,
#portfolio #filters a.inactive:active,
#portfolio #filters a.inactive:link {
  background-color: #95a5a6;
}

#portfolio #filters a.inactive .fa-check-square-o {
  display: none;
}

#portfolio #filters a.inactive .fa-square-o {
  display: inline-block;
}

#portfolio .project-thumbnail {
  height: 200px;
  text-align: center;
  color: #FFF;
  transition: all 0.5s ease-in;
}

#portfolio .project-thumbnail.fadeOut {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

#portfolio .project-thumbnail span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

#portfolio .project-thumbnail.web {
  background-color: #2ecc71;
}

#portfolio .project-thumbnail.art {
  background-color: #9b59b6;
}

#portfolio .project-thumbnail.graphic {
  background-color: #e67e22;
}