#portfolio .project-thumbnail {
  height: 200px;
  text-align: center;
  color: #FFF;
}

#portfolio .project-thumbnail span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

#portfolio .project-thumbnail.web {
  background-color: #16a085;
}

#portfolio .project-thumbnail.art {
  background-color: #8e44ad;
}

#portfolio .project-thumbnail.graphic {
  background-color: #c0392b;
}